@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto', sans-serif;
}
.headerArea {
	background: #282a2e;
	padding: 15px 50px;
}
.headerArea {
	background: #282a2e;
	padding: 15px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headerArea h2 {
	color: #fff;
	text-transform: uppercase;
}
.buttonsPannel button {
	background: #3a466b;
	border: 0;
	color: #fff;
	width: 200px;
	text-align: center;
	padding: 15px 0;
	font-size: 14px;
	border-radius: 30px;
	margin-left: 30px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
button.compact {
	width: 47px;
	font-size: 20px;
	height: 47px;
	line-height: 46px;
	padding: 0;
	background: #f6315f;
}
.body__wrap {
	display: flex;
}
.body__wrap__output_window {
	width: 60%;
	height: 93.8vh;
}
.body__wrap__output_window iframe{
    height: 93.6vh;
    width: 100%;
    overflow: scroll;
}
.editor_header {
    background: #222222;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
}
.editor_header span {
	color: #fff;
	display: block;
	font-weight: 700;
}
.editor_header button {
	background: transparent;
	border: 0;
	font-size: 18px;
    cursor: pointer;
    color: #ffffff;
}

.body__wrap__editors {
	background: gray;
    width: 40%;
    height: 93.8vh;
}
.code_editor {
	width: 100%;
	height: 26.8vh;
	resize: none;
}
.ace_text-input {
	position: initial;
	z-index: 0;
	width: 100% !important;
	height: 26.8vh !important;
}
.ace_editor {
	font-size: 18px !important;
}

.ace_text-input.unactiveEditor {
	height: 5vh !important;
}
.ace_text-input.activeEditor {
	height: 70.8vh !important;
}
